@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
}

body {
    height: 100vh;
    background: var(--pale-blue) url('../images/pattern-background-mobile.svg') no-repeat top left;
    background-size: 100%;
    display: grid;
    place-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.product {
    display: grid;
    grid-template-rows: 170px auto;
    width: 90%;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 30px hsla(224, 23%, 55%, 0.5);
}

.product > picture > img {
    width: 100%;
}
.product > picture {
    overflow: hidden;
}

.hero-content {
    padding: 15px;
    display: grid;
    place-items: center;
    height: 100%;
}
.hero-content > .title {
    font-size: 22px;
    font-weight: 900;
}
.hero-content > .description {
    width: 80%;
    font-size: 14px;
    text-align: center;
    color: var(--desaturated-blue);
}
.hero-content > .plan-type {
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F9FE;
    border-radius: 10px;
    font-size: 12px;
    height: 65px;
}
.hero-content > .plan-type > .annual-plan {
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.hero-content > .plan-type > .annual-plan > img {
    border-radius: 50%;
    height: 35px;
}
.hero-content > .plan-type > .annual-plan > div {
    font-weight: 900;
}
.hero-content > .plan-type > .annual-plan > div > span {
    display: block;
    font-weight: normal;
    color: var(--desaturated-blue);
}
.hero-content > .plan-type > .change-plan {
    color: var(--bright-blue);
    font-weight: 700;
}
.hero-content > .plan-type > .change-plan:hover {
    color: var(--desaturated-blue);
}
.hero-content > .proceed-btn {
    all: unset;
    text-align: center;
    width: 70%;
    height: 35px;
    font-size: .85em;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(224, 23%, 55%, 0.5);
    font-weight: 900;
    padding: 5px 25px;
    cursor: pointer;
}
.hero-content > .cancel-btn {
    font-size: 11px;
    font-weight: 600;
    color: var(--desaturated-blue);
    cursor: pointer;
}
.hero-content > .proceed-btn:hover {
    background-color: var(--desaturated-blue);
}
.hero-content > .cancel-btn:hover {
    color: var(--dark-blue);
}
button, img, .change-plan, .cancel-btn {
    transition: all .7s ease !important;
}
.product:hover > picture > img{
    transform: scale(1.2);
    filter: brightness(1.1);
    z-index: -1;
}

/*
    AUTHOR LINK
*/
.author-link{
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.author-link > * {
    color: var(--dark-blue);
    font-weight: 500;
}
.author-link > .bar {
    margin: 0 4px 0 4px;
}
.author-link, a {
    text-decoration: none;
    transition: .3s ease-out;
}
.author-link > .link:hover {
    color: var(--desaturated-blue);
}

@media (min-width: 35em) {

    body {
        background: var(--pale-blue) url('../images/pattern-background-desktop.svg') no-repeat top left;
    }

    .product {
        width: 350px;
    }
}